%div.container
  %h1 Printers

  %textarea#textfield.input-xlarge

  %p#replacement this is default text

/placed at the end of the document so the pages load quickly
= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'
= javascript_include_tag 'bootstrap'

